body {
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
}

#gameImage {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

#popupMenu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #222;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
}

#popupMenu > li {
  cursor: pointer;
  padding: 5px;
}

.lineThrough {
  text-decoration: line-through;
}
